* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
a, button{
  border: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
a:visited{
  color: inherit;
}
